# Jupter Basic

    ### 제목을 클릭하면 파일 이름 변경 가능
    ### 셀을 누르고 a를 누르면, 위에 셀 추가
    ### 셀을 누르고 b를 누르면, 아래에 셀 추가
    ### 셀을 누르고 dd를 누르면, 해당 셀 삭제
    ### 이 외에도 잘라내기/복사/붙여넣기/이동 가능
    ### Shift를 누른 상태에서 드래그 가능
    ### 셀을 클릭 후 M을 누르면 Markdown으로 변환
    ### 다시 코드로 변경하려면 메인 위젯 아래의 오른쪽 2번째 리스트 박스 활용
    ### Ctrl + Enter를 누르면 실행
    ### Shift + Enter를 누르면 실행하며 새로운 줄 생성
    ### 이 외에도 다양한 메뉴 활용 가능

# Python Basic

In [1]:
import pandas as pd

## 1. Data Type

### a. Int / Float

In [2]:
1 + 3

4

In [3]:
17 / 4

4.25

In [4]:
int(17 / 4), 17 // 4

(4, 4)

In [5]:
17 % 4

1

In [6]:
import math
math.sqrt(9)

3.0

In [7]:
e = math.e
math.log(e)

1.0

In [8]:
math.pow(2, 2), 2**2

(4.0, 4)

In [9]:
type(math.pow(2, 2)), type(2**2)

(float, int)

In [10]:
2.13e2

213.0

In [11]:
print("a = %0.5f, b = %5.0f" % (2018.0728, 2018.0728))

a = 2018.07280, b =  2018

### b. Bool

In [12]:
a = True
b = False

In [13]:
# AND
a + b, bool(a + b)

(1, True)

In [14]:
# OR
a*b, bool(a + b)

(0, True)

In [15]:
a == False, b == False

(False, True)

In [16]:
type( 1 != 1 )

bool

### c. String

In [17]:
a = "Hello?"
b = "World!"

In [18]:
type(a)

str

In [19]:
a[0]

'H'

In [20]:
a[1:]

'ello?'

In [21]:
a[-1]

'?'

In [22]:
a + b

'Hello?World!'

In [23]:
a + " " + b

'Hello? World!'

In [24]:
print("a = %s, b = %s" % (a, b))

a = Hello?, b = World!

## 2. IF/WHILE/FOR

### a. If

In [25]:
a = 2

In [26]:
if a == 1 :
    print("a is 1")
elif a==2 :
    print("a is 2")
else :
    print("a is not 1 or 2")

a is 2

### b. While

In [27]:
while a < 5 : 
    a = a + 1
    print(a)

3
4
5

In [28]:
b = 0 
while b < 10:
    
    b = b + 1
    
    if b % 2 != 0 :
        
        continue
        
    else :
        
        print(b, "는 2의 배수")

2 는 2의 배수
4 는 2의 배수
6 는 2의 배수
8 는 2의 배수
10 는 2의 배수

### c. For

In [29]:
for i in range(0, 10) :
    print(" a > ", i, " : ", a > i )

 a >  0  :  True
 a >  1  :  True
 a >  2  :  True
 a >  3  :  True
 a >  4  :  True
 a >  5  :  False
 a >  6  :  False
 a >  7  :  False
 a >  8  :  False
 a >  9  :  False

In [30]:
for i in range(0, 10, 2) :
    print(i)

0
2
4
6
8

## 3. Collection

### a. List

In [31]:
a = [1, 2, 3]
b = [4, 5, 6]

In [32]:
a + b

[1, 2, 3, 4, 5, 6]

In [33]:
a[0], b[0]

(1, 4)

In [34]:
a.append(4)

In [35]:
a

[1, 2, 3, 4]

In [36]:
del a[2:3]

In [37]:
a

[1, 2, 4]

In [38]:
a*2

[1, 2, 4, 1, 2, 4]

In [39]:
b.index(6)

2

In [40]:
for i, n in enumerate(b) :
    print(i, "th : ", n)

0 th :  4
1 th :  5
2 th :  6

### b. Dictionary

In [41]:
a = {}

In [42]:
a['Greet'] = 'Hello'

In [43]:
a['Response'] = 'Hi'

In [44]:
a.keys()

dict_keys(['Greet', 'Response'])

In [45]:
a.values()

dict_values(['Hello', 'Hi'])

In [46]:
a['Greet']

'Hello'

## 4. Extra

### a. Def

In [47]:
def add2(x) :
    return x + 2

In [48]:
add2(3)

5

In [49]:
add2('HELLO')

TypeError: must be str, not int

### b. Exception

In [50]:
def add2(x) :
    try :
        return x + 2
    except TypeError :
        print("ERROR")

In [51]:
add2(3)

5

In [52]:
add2('HELLO')

ERROR

## 5. Data Import

### a. TXT to String

In [53]:
f = open("./data/sample.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
    print("<Enter>")
f.close()

자연어처리(NLP)는 사람이 내뱉은 비정형적 자연어를 컴퓨터가 이해할 수 있는 정형적 언어 데이터로 바꾸는 기술이다. 컴퓨터가 문장 의도를 이해하고 말한 사람 의도를 정확히 파악할 수 있도록 해주는 과정이다.

<Enter>


<Enter>
AI 서비스에서 NLP는 중요한 부분을 차지한다. 컴퓨터가 자연어를 문법상 의미 최소 단위인 형태소로 분해(파싱)해 언어학적 구조를 패턴화, 전체 의미를 파악하도록 해준다. 하나의 품사에 여러 모호성을 해소하는 품사 태깅, 불용어 제거, 기계번역, 대화시스템에 이르기까지 모든 과업을 수행한다.

<Enter>


<Enter>
최근에는 딥러닝 기반 NLP 연구가 늘고 있다. 단어 단위가 아닌 문장 전체 맥락에서 의미를 추론할 수 있게 됐다. 딥러닝을 적용하기 위해서는 말뭉치(코퍼스, Corpus)라는 학습용 언어 데이터를 필수로 확보해야 한다.

<Enter>


<Enter>
NLP를 기반으로 한 음성인식 기술은 대용량 음성 데이터를 저장하고 실시간으로 처리 가능한 네트워크와 컴퓨팅 기술로 크게 진화하고 있다. 음성인식 기술 핵심은 상대방과 대화를 계속 이어가는 것이다.
<Enter>

In [54]:
f = open("./data/sample.txt", 'r')
lines = f.read()
print(lines)
f.close()

자연어처리(NLP)는 사람이 내뱉은 비정형적 자연어를 컴퓨터가 이해할 수 있는 정형적 언어 데이터로 바꾸는 기술이다. 컴퓨터가 문장 의도를 이해하고 말한 사람 의도를 정확히 파악할 수 있도록 해주는 과정이다.

AI 서비스에서 NLP는 중요한 부분을 차지한다. 컴퓨터가 자연어를 문법상 의미 최소 단위인 형태소로 분해(파싱)해 언어학적 구조를 패턴화, 전체 의미를 파악하도록 해준다. 하나의 품사에 여러 모호성을 해소하는 품사 태깅, 불용어 제거, 기계번역, 대화시스템에 이르기까지 모든 과업을 수행한다.

최근에는 딥러닝 기반 NLP 연구가 늘고 있다. 단어 단위가 아닌 문장 전체 맥락에서 의미를 추론할 수 있게 됐다. 딥러닝을 적용하기 위해서는 말뭉치(코퍼스, Corpus)라는 학습용 언어 데이터를 필수로 확보해야 한다.

NLP를 기반으로 한 음성인식 기술은 대용량 음성 데이터를 저장하고 실시간으로 처리 가능한 네트워크와 컴퓨팅 기술로 크게 진화하고 있다. 음성인식 기술 핵심은 상대방과 대화를 계속 이어가는 것이다.

### b. CSV to DataFrame

In [55]:
csv = pd.read_csv('./data/sample.csv', header=0, sep=',', encoding='euc-kr')

In [56]:
csv

        이름 성별     근무지  연봉(만원)
0     강다니엘  M   SEOUL    5419
1      강동호  M  CICAGO    6443
2      강미나  F   SEOUL     445
3      권현빈  M      LA    1199
4      김도연  F  CICAGO    7579
5     김사무엘  M   SEOUL     290
6      김세정  F  CICAGO    4113
7      김소혜  F   SEOUL    1200
8      김청하  F   SEOUL    5447
9      노태현  M  CICAGO    3126
10    라이관린  M      LA    6890
11     박우진  M      LA    2371
12     박지훈  M   SEOUL    7980
13     배진영  M  CICAGO    8399
14     옹성우  M   SEOUL    2477
15     유연정  F   SEOUL    8474
16     임나영  F   SEOUL    6732
17     전소미  F      LA    9828
18     정채연  F   SEOUL    2208
19     주결경  F   SEOUL    7373
20     주학년  M  CICAGO    1379
21     최유정  F      LA    7137
22  타카다 켄타  M      LA    4091
23     하성운  M  CICAGO    8721

### c. EXCEL to Dataframe

In [57]:
xlsx = pd.read_excel('./data/sample.xlsx', sheet_name=0)

In [58]:
xlsx

        이름 성별     근무지  연봉(만원)
0     강다니엘  M   SEOUL    5419
1      강동호  M  CICAGO    6443
2      강미나  F   SEOUL     445
3      권현빈  M      LA    1199
4      김도연  F  CICAGO    7579
5     김사무엘  M   SEOUL     290
6      김세정  F  CICAGO    4113
7      김소혜  F   SEOUL    1200
8      김청하  F   SEOUL    5447
9      노태현  M  CICAGO    3126
10    라이관린  M      LA    6890
11     박우진  M      LA    2371
12     박지훈  M   SEOUL    7980
13     배진영  M  CICAGO    8399
14     옹성우  M   SEOUL    2477
15     유연정  F   SEOUL    8474
16     임나영  F   SEOUL    6732
17     전소미  F      LA    9828
18     정채연  F   SEOUL    2208
19     주결경  F   SEOUL    7373
20     주학년  M  CICAGO    1379
21     최유정  F      LA    7137
22  타카다 켄타  M      LA    4091
23     하성운  M  CICAGO    8721

### d. DataFrame to Numpy

In [59]:
data = xlsx['연봉(만원)'].values

In [60]:
type(data)

numpy.ndarray

In [61]:
data

array([5419, 6443,  445, 1199, 7579,  290, 4113, 1200, 5447, 3126, 6890,
       2371, 7980, 8399, 2477, 8474, 6732, 9828, 2208, 7373, 1379, 7137,
       4091, 8721], dtype=int64)

In [62]:
import numpy as np
print("합 : ", np.sum(data))
print("평균 : ", np.mean(data))
print("표준편차 : ", np.std(data))
print("최대값 : ", np.max(data))

합 :  119321
평균 :  4971.708333333333
표준편차 :  2934.322046617223
최대값 :  9828

In [63]:
data + data == data*2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])